body{
    background-image: url(1.jpg);
    background-size: cover;
}
header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: white;
    color: green;
    border: 1px outset white;
}
.buttons{
    width: 425px;
    height: 253px;
    margin-left: auto;
    margin-right: auto;
    border: 5px outset green;
    box-sizing: border-box;

}
.buttons .bt1{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt2{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt3{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt4{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt5{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt6{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt7{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt8{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt9{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt10{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt11{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt12{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt13{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt14{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt15{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}
.buttons .bt16{
    size: 50%;
    padding: 20px 30px;
    border-radius: 5%;
    border-color: crimson;
}

.res{
    text-align: center;
    color:black;
    border: 5px outset white;
    background-color: white;
}
.res p{
    color: darkcyan;
    font-weight: bolder;
}
.divv{
    text-align: center;
}
.divv .lastBut{
    padding: 10px 20px;
    border-radius: 10%;
    background-color: green;
    border-color: green;
    color: honeydew;
}
.footer{
    text-align: center;
    color: lavender;
    background-color: black;
}
